PORT=9000

STATIC_DIR=./public
SPA_INDEX_FILE=index.html

DATABASE_HOST=host.docker.internal
DATABASE_PORT=5432
DATABASE_USER=root
DATABASE_PASS=password
DATABASE_NAME=database

JWT_SECRET=change-me
JWT_ISSUER=fiber-base
JWT_EXPIRY=8h
